[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
setuptools = "*"
pymed = {git = "https://github.com/iacopy/pymed.git"}

[dev-packages]

[requires]
python_version = "3.8"
