[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymed = {editable = true, path = "/home/francop/GitHub/pymed"}

[dev-packages]

[requires]
python_version = "3.8"
