-i https://pypi.org/simple
certifi==2023.7.22 ; python_version >= '3.6'
charset-normalizer==3.2.0 ; python_full_version >= '3.7.0'
idna==3.4 ; python_version >= '3.5'
git+https://github.com/iacopy/pymed.git@7f103fd1fa808ecf5b144d1089a8fedf347d8189#egg=pymed
requests==2.31.0
setuptools==68.2.2
urllib3==2.0.5 ; python_version >= '3.7'
